<!DOCTYPE html>
<html ng-app="meetupsApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="/js/controllers/meetups-controller.js"></script>
		<!-- Meetups View -->
		<div ng-controller="meetupsController">
			<h1> There are {{meetups.length}} meetups</h1>
			<ul> <!-- unordered list -->
				<li ng-repeat="meetup in meetups"> <!-- For each meetup in meetups -->
					{{meetup.name}}
				</li>
			</ul>
			<form ng-submit="createMeetup()">
				<input type="text" placeholder="Meetup name" ng-model="meetupName"></input>
				<button type="submit">Add</button>
			</form>
		</div>
		
	</body>
</html>


